<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- JPA工厂对象 -->
    <!--<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource" />-->
        <!--&lt;!&ndash; 扫描此包下的所有Entity,进行ORM映射(这里的实体类包路径需要修改) &ndash;&gt;-->
        <!--<property name="packagesToScan" value="com.bs.ssh" />-->
        <!--<property name="persistenceProvider">-->
            <!--<bean class="org.hibernate.jpa.HibernatePersistenceProvider" />-->
        <!--</property>-->
        <!--<property name="jpaVendorAdapter">-->
            <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
                <!--<property name="generateDdl" value="false" />-->
                <!--<property name="database" value="MYSQL" />-->
                <!--<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />-->
                <!--<property name="showSql" value="true" />-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="jpaDialect">-->
            <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />-->
        <!--</property>-->
        <!--<property name="jpaPropertyMap">-->
            <!--<map>-->
                <!--<entry key="hibernate.query.substitutions" value="true 1, false 0" />-->
                <!--<entry key="hibernate.default_batch_fetch_size" value="16" />-->
                <!--<entry key="hibernate.max_fetch_depth" value="2" />-->
                <!--<entry key="hibernate.generate_statistics" value="true" />-->
                <!--<entry key="hibernate.bytecode.use_reflection_optimizer" value="true" />-->
                <!--<entry key="hibernate.cache.use_second_level_cache" value="false" />-->
                <!--<entry key="hibernate.cache.use_query_cache" value="false" />-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 使用声明式事务管理 &ndash;&gt;-->
    <!--<tx:annotation-driven proxy-target-class="true" />-->

    <!--&lt;!&ndash; JPA事务管理器 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="entityManagerFactory"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;扫描 JPA持久化接口，spring-data-jpa会自动生成实现类(这里的repostory接口包路径需要修改)&ndash;&gt;-->
    <!--<jpa:repositories base-package="com.bs.ssh" entity-manager-factory-ref="entityManagerFactory" transaction-manager-ref="transactionManager"/>-->

</beans>