<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<!--<property name="hibernate.enable_lazy_load_no_trans">true</property>-->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">true</property>
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	<property name="hibernate.format_sql">true</property>
		<property name="connection.autocommit">true</property>
		<mapping class="com.bs.ssh.entity.Permission"/>
		<mapping class="com.bs.ssh.entity.Role"/>
		<mapping class="com.bs.ssh.entity.User"/>
		<mapping class="com.bs.ssh.entity.Article"/>
		<mapping class="com.bs.ssh.entity.Image"/>
		<mapping class="com.bs.ssh.entity.Comment"/>
		<mapping class="com.bs.ssh.entity.Follow"/>
		<mapping class="com.bs.ssh.entity.Like"/>
		<mapping class="com.bs.ssh.entity.Star"/>
    </session-factory>
</hibernate-configuration>
